---
import ContentList from "@/components/content-card/ContentList.astro";
import Main from "@/components/Main.astro";
import Pagination from "@/components/Pagination.astro";
import TextElement from "@/components/TextElement";

import { languages } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import BlogListLayout from "@/layouts/BlogListLayout.astro";
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const allLanguages = Object.values(languages);
  const tips = await getCollection("cybersecurity-tips");

  return allLanguages.flatMap((lang) => {
    const langTips = tips
      .filter((tip) => tip.data.lang === lang)
      .sort(
        (a, b) =>
          new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
      );
    return paginate(langTips, {
      params: { lang },
      pageSize: 10,
    });
  });
}

const { lang } = Astro.params;
const { page } = Astro.props;

const description =
  "A collection of cybersecurity tips to keep you safe online.";
const t = useTranslations(lang);
const title = t("nav.cybersecurityTips");
---

<BlogListLayout
  title={title}
  description={description}
  canonicalURL={Astro.url.toString()}
  content={page.data}
>
  <Main>
    <section aria-label={title}>
      <TextElement variant="heading" className="text-primary">
        {title}
      </TextElement>
      <ContentList content={page.data} lang={lang} />
      <Pagination page={page} />
    </section>
  </Main>
</BlogListLayout>
