---
import { formatDate } from "@/lib/date-helper";

import { ButtonLink } from "@/components/ButtonLink";
import TextElement from "@/components/TextElement";

import type { DirectiveType } from "@/content/content.type";
import type { SupportedLanguage } from "@/i18n/ui";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import { ExternalLink } from "lucide-react";

interface Props {
  title: string;
  body: string;
  date: string;
  lang: SupportedLanguage;
  image: ImageMetadata;
  file: string;
  type: DirectiveType;
}

const { title, lang, date, image, file, type } = Astro.props as Props;

const absoluteFileUrl = new URL(file, Astro.url.origin).href;
---

<article
  class="flex h-full min-h-48 flex-col rounded-lg border bg-card p-5 text-card-foreground shadow-sm sm:min-h-52 md:min-h-56"
>
  <div class="flex grow flex-col gap-2">
    <div class="mx-10 flex justify-center">
      <Image
        src={image}
        alt=""
        class="w-full object-cover"
        loading="eager"
        quality="high"
        widths={[640, 768, 1024, 1280, 1440, 1600]}
        format="webp"
      />
    </div>
    <time
      class="text-left text-mptc-secondary-foreground"
      datetime={new Date(date).toISOString()}
    >
      {formatDate(date, lang)}
    </time>
    <TextElement
      variant="subheading"
      className="line-clamp-4 scroll-m-20 text-pretty text-base font-normal leading-6 tracking-tight lg:text-base xl:text-base"
    >
      {title}
    </TextElement>
  </div>
  <div class="pt-5">
    <ButtonLink
      href={absoluteFileUrl}
      className="w-full gap-2"
      aria-label={`(opens PDF in a new tab) Read full ${type} on ${title}`}
      target="_blank"
      rel="noopener noreferrer"
    >
      <ExternalLink size={14} aria-hidden="true" /> Read full document
    </ButtonLink>
  </div>
</article>
