---
import { cn } from "@/lib/utils";

import { Separator } from "@/components/ui/separator";

import TextElement from "../TextElement";
import type { SupportedLanguage } from "@/i18n/ui";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  name: string;
  title: string;
  image: ImageMetadata;
  body: string;
  lang: SupportedLanguage;
  reverse: boolean;
}

const { title, name, body, image, reverse } = Astro.props as Props;

const articleClasses = cn(
  "flex flex-col gap-4 md:flex-row",
  reverse && "md:flex-row-reverse",
);
---

<article class={articleClasses}>
  <figure class="relative w-full md:w-1/2" role="none">
    <Image
      src={image}
      alt={`${title} - ${name}`}
      class="w-full rounded-lg object-cover sm:h-64 md:h-full"
      loading="eager"
      widths={[480, 640, 768]}
      sizes="(max-width: 768px) 100vw,  50vw"
      quality="high"
      format="avif"
    />
  </figure>
  <div class="w-full md:w-1/2">
    <header class="flex flex-col gap-4">
      <TextElement variant="title" className="text-2xl text-primary">
        {name}
      </TextElement>
      <TextElement variant="body">
        {title}
      </TextElement>
    </header>
    <Separator className="my-4" />
    <section>
      <TextElement className="mt-2 line-clamp-4 md:line-clamp-none">
        {body}
      </TextElement>
    </section>
  </div>
</article>
