---
import LeaderCard from "./LeaderCard.astro";
import type { SupportedLanguage } from "@/i18n/ui";
import type { CollectionEntry } from "astro:content";

interface Props {
  leaders: CollectionEntry<"leaders">[];
  lang: SupportedLanguage;
}

const { leaders, lang } = Astro.props;
---

<ul class="grid list-none grid-cols-1 gap-5 p-5 md:grid-cols-1 lg:grid-cols-1">
  {
    leaders.map((leader) => (
      <li>
        <LeaderCard
          name={leader.data.name}
          image={leader.data.image}
          title={leader.data.title}
          body={leader.body}
          lang={lang}
        />
      </li>
    ))
  }
</ul>
