---
import { replaceSeparatorsAndCapitalize } from "@/lib/string-helper";

import { AspectRatio } from "@/components/ui/aspect-ratio";
import { ButtonLink } from "@/components/ButtonLink";
import TextElement from "@/components/TextElement";

import heroImage from "../../../../static/Hero.png";
import type { DirectiveType } from "@/content/content.type";
import { Image } from "astro:assets";
import { ExternalLink } from "lucide-react";

interface Props {
  title: string;
  body: string;
  file: string;
  type: DirectiveType;
}

const { title, file, type } = Astro.props as Props;

const absoluteFileUrl = new URL(file, Astro.url.origin).href;

const capitalizedType = replaceSeparatorsAndCapitalize(type);
---

<article
  class="flex h-full flex-col gap-5 rounded-lg border bg-card p-5 text-card-foreground shadow-sm md:flex-row"
>
  <figure class="h-full w-2/3">
    <AspectRatio ratio={3 / 4} className="h-full">
      <Image
        src={heroImage}
        alt={title}
        class="size-full rounded-lg"
        loading="eager"
      />
    </AspectRatio>
  </figure>
  <div class="flex flex-col gap-4">
    <TextElement variant="title" className="text-2xl text-primary">
      {capitalizedType}
    </TextElement>
    <TextElement
      variant="body"
      itemProp="description"
      className="line-clamp-4 scroll-m-20 text-pretty text-base font-normal leading-6 tracking-tight lg:text-base xl:text-base"
    >
      {title}
    </TextElement>
    <ButtonLink
      variant={"outline"}
      href={absoluteFileUrl}
      itemProp="url"
      aria-label={`Read full ${type} on ${title}`}
      target="_blank"
      rel="noopener noreferrer"
      className="mt-auto h-10 gap-2 self-end border-primary text-primary"
    >
      <ExternalLink size={14} /> Read more
    </ButtonLink>
  </div>
</article>
