---
import LawCard from "./LawCard.astro";
import type { SupportedLanguage } from "@/i18n/ui";
import type { CollectionEntry } from "astro:content";

interface Props {
  directives: CollectionEntry<"directives">[];
  lang: SupportedLanguage;
}

const { directives, lang } = Astro.props;
---

<ul class="grid grid-cols-1 gap-5 py-5 md:grid-cols-1 lg:grid-cols-2">
  {
    directives.map((directive) => (
      <li>
        <LawCard
          title={directive.data.title}
          body={directive.body}
          file={directive.data.file}
          lang={lang}
          date={directive.data.date}
          type={directive.data.type}
          image={directive.data.image}
        />
      </li>
    ))
  }
</ul>
