---
import { getContentUrl } from "@/lib/route";

import ContentCard from "./ContentCard.astro";
import type { SupportedLanguage } from "@/i18n/ui";
import type { CollectionEntry } from "astro:content";

interface Props {
  content: (
    | CollectionEntry<"articles">
    | CollectionEntry<"cybersecurity-tips">
  )[];
  lang: SupportedLanguage;
}

const { content, lang } = Astro.props;
---

<ul
  class="grid list-none auto-rows-fr grid-cols-1 gap-5 p-5 md:grid-cols-2 lg:grid-cols-3"
>
  {
    content.map((item) => (
      <li>
        <ContentCard
          image={item.data.image}
          title={item.data.title}
          body={item.body}
          description={item.data.description}
          href={getContentUrl(item, lang)}
          date={item.data.date}
          lang={lang}
        />
      </li>
    ))
  }
</ul>
