---
import { formatDate, toISOString } from "@/lib/date-helper";

import Main from "@/components/Main.astro";
import ProseWrapper from "@/components/ProseWrapper.astro";
import TextElement from "@/components/TextElement";

import type { SupportedLanguage } from "@/i18n/ui";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const pages = await getCollection("articles");

  return pages.map((page) => {
    const [lang, slug] = page.slug.split("/");
    return { params: { lang, slug }, props: { page } };
  });
}

const { page } = Astro.props;
const {
  params: { lang },
} = Astro;
const { Content } = await page.render();

const publicationDate = new Date(page.data.date);
---

<Layout
  title={page.data.title}
  description={page.data.description}
  image={page.data.image.src}
  canonicalURL={new URL(Astro.url.pathname, Astro.site).toString()}
  type="article"
  publishDate={publicationDate}
>
  <Main>
    <ProseWrapper>
      <header>
        <figure role="none">
          <Image
            src={page.data.image}
            alt={page.data.title}
            class="rounded-lg"
            loading="eager"
            quality="high"
            format="webp"
            widths={[480, 768, 1024]}
            sizes="(min-width: 1024px) 100vw"
          />

          <figcaption class="sr-only">
            {page.data.title}
          </figcaption>
        </figure>
        <TextElement variant="heading" className="text-center">
          {page.data.title}
        </TextElement>
        <div class="my-4 flex items-center justify-between">
          <span>Digital Security Committee</span>
          <time
            datetime={toISOString(publicationDate)}
            class="text-right text-mptc-secondary-foreground"
          >
            {formatDate(publicationDate, lang as SupportedLanguage)}
          </time>
        </div>
      </header>
      <section>
        <Content />
      </section>
    </ProseWrapper>
  </Main>
</Layout>
