---
import { ButtonLink } from "./ButtonLink";
import TextElement from "./TextElement";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  image: ImageMetadata;
  body: string;
  href: string;
}

const { title, body, href, image } = Astro.props as Props;
---

<div
  class="overflow-hidden rounded-lg bg-white shadow-md transition-shadow duration-300 hover:shadow-lg"
>
  <div
    class="flex flex-col gap-2 p-4"
    transition:name={`slug-${href}`}
    transition:persist
  >
    <Image src={image} alt="" class="w-full rounded-lg" loading="eager" />
    <TextElement variant="smallheading">
      {title}
    </TextElement>
    <TextElement className="line-clamp-4 text-card-foreground">
      {body}
    </TextElement>
  </div>
  <div class="flex justify-center p-4">
    <ButtonLink href={href} className="w-full"> Read more </ButtonLink>
  </div>
</div>
