---
import Hero from "@/components/page/home/Hero.astro";
import HomeArticleList from "@/components/page/home/HomeArticleList.astro";
import HomeCarousel from "@/components/page/home/HomeCarousel.astro";
import HomeMain from "@/components/page/home/HomeMain.astro";
import LawCardList from "@/components/page/home/law/LawCardList.astro";
import Mission from "@/components/page/home/Mission.astro";
import Vision from "@/components/page/home/Vison.astro";
import TextElement from "@/components/TextElement";
import WhatWeDoGrid from "@/components/WhatWeDoGird";

import { languages, type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const lang = Astro.currentLocale as SupportedLanguage;

export function getStaticPaths() {
  return Object.values(languages).map((lang) => ({ params: { lang } }));
}

const allArticles = await getCollection("articles");

const langArticles = allArticles.filter(
  (article) => article.data.lang === lang,
);

const latestArticles = langArticles
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .slice(0, 3);

const allDirectives = await getCollection("directives");
const langDirectives = allDirectives.filter(
  (article) => article.data.lang === lang,
);

const latestDirectives = langDirectives
  .sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  )
  .slice(0, 4);

const t = useTranslations(lang);
---

<BaseLayout title={`Welcome to Astro - ${lang}`} description={"test"}>
  <HomeMain>
    <!-- <Hero
      title="It was popularised in the 1960s "
      subtitle="It has survived not only five centuries,remaining essentially unchanged.It has survived not only five centuries,remaining essentially unchanged"
    /> -->
    <HomeCarousel />
    <div
      class="container flex flex-col items-center gap-16 px-24 py-8 max-sm:p-5"
    >
      <section aria-labelledby="vision">
        <Vision />
      </section>
      <section aria-labelledby="mission">
        <Mission />
      </section>
      <section aria-labelledby="what-we-do-heading">
        <TextElement
          variant="subheading"
          id="what-we-do-heading"
          className="mb-4 text-center"
        >
          {t("home.whatwedo")}
        </TextElement>
        <WhatWeDoGrid />
      </section>
      <section aria-labelledby="latest-news-heading">
        <TextElement
          variant="subheading"
          id="latest-news-heading"
          className="mb-4 text-center"
        >
          {"Latest News And Events"}
        </TextElement>
        <HomeArticleList articles={latestArticles} lang={lang} />
      </section>
      <section aria-labelledby="law-regulations-heading">
        <TextElement
          variant="subheading"
          id="law-regulations-heading"
          className="mb-4 text-center"
        >
          {"Law and Regulations"}
        </TextElement>
        <LawCardList directives={latestDirectives} lang={lang} />
      </section>
    </div>
  </HomeMain>
</BaseLayout>
