---
import { formatDate, toISOString } from "@/lib/date-helper";

import { ButtonLink } from "../../ButtonLink";
import TextElement from "../../TextElement";
import { AspectRatio } from "../../ui/aspect-ratio";
import type { SupportedLanguage } from "@/i18n/ui";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  image: ImageMetadata;
  body: string;
  href: string;
  date: string;
  lang: SupportedLanguage;
}

const { title, body, href, image, date, lang } = Astro.props as Props;
---

<article
  class="rounded-lg border bg-card p-5 text-card-foreground shadow-sm"
  aria-labelledby={`article-title-${href}`}
>
  <div>
    <header class="flex flex-col gap-2">
      <figure>
        <AspectRatio ratio={16 / 9}>
          <Image
            src={image}
            alt={`Featured image for article: ${title}`}
            class="w-full rounded-lg"
            loading="lazy"
            transition:name={`image-${href}`}
          />
        </AspectRatio>
      </figure>
      <time datetime={toISOString(date)} transition:name={`date-${href}`}>
        <TextElement
          variant="body"
          className="text-right text-mptc-secondary-foreground"
        >
          {formatDate(date, lang)}
        </TextElement>
      </time>
      <TextElement
        variant="smallheading"
        transitionName={`title-${href}`}
        id={`article-title-${href}`}
      >
        {title}
      </TextElement>
    </header>
    <section transition:name={`body-${href}`} aria-label="Article summary">
      <TextElement className="mt-2 line-clamp-4 text-card-foreground">
        {body}
      </TextElement>
    </section>
  </div>
  <div class="flex justify-center pt-5">
    <ButtonLink
      href={href}
      className="w-full"
      aria-labelledby={`read-more-${href}`}
    >
      <span id={`read-more-${href}`}
        >Read more<span class="sr-only"> about {title}</span></span
      >
    </ButtonLink>
  </div>
</article>
