---
import { formatDate, toISOString } from "@/lib/date-helper";

import { ButtonLink } from "../../ButtonLink";
import TextElement from "../../TextElement";
import { AspectRatio } from "../../ui/aspect-ratio";
import type { SupportedLanguage } from "@/i18n/ui";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  image: ImageMetadata;
  body: string;
  href: string;
  date: string;
  lang: SupportedLanguage;
}

const { title, body, href, image, date, lang } = Astro.props as Props;
---

<article
  itemscope
  itemtype="https://schema.org/BlogPosting"
  class="rounded-lg border bg-card p-5 text-card-foreground shadow-sm"
>
  <div>
    <header class="flex flex-col gap-2">
      <figure>
        <AspectRatio ratio={16 / 9}>
          <Image
            src={image}
            alt={title}
            class="w-full rounded-lg"
            loading="lazy"
            transition:name={`image-${href}`}
          />
        </AspectRatio>
      </figure>
      <time
        itemprop="datePublished"
        datetime={toISOString(date)}
        transition:name={`date-${href}`}
      >
        <TextElement
          variant="body"
          className="text-right text-mptc-secondary-foreground"
        >
          {formatDate(date, lang)}
        </TextElement>
      </time>
      <TextElement
        variant="smallheading"
        itemProp="headline"
        transitionName={`title-${href}`}
      >
        {title}
      </TextElement>
    </header>
    <section transition:name={`body-${href}`}>
      <TextElement
        itemProp="abstract"
        className="mt-2 line-clamp-4 text-card-foreground"
      >
        {body}
      </TextElement>
    </section>
  </div>
  <div class="flex justify-center pt-5">
    <ButtonLink href={href} className="w-full" itemProp="url">
      Read more
    </ButtonLink>
  </div>
</article>
