---
import Main from "@/components/Main.astro";
import AboutList from "@/components/page/about/AboutList.astro";
import TextElement from "@/components/TextElement";

import { ABOUT_TYPES } from "@/content/about.type";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import OrganizationLayout from "@/layouts/OrganizationLayout.astro";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import enAboutUs from "src/static/about-us/en-about-us.webp";
import kmAboutUs from "src/static/about-us/km-about-us.webp";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as SupportedLanguage;
const t = useTranslations(lang);
const allAbouts = await getCollection("abouts");
const abouts = allAbouts.filter((about) => about.data.lang === lang);
const goals = abouts.filter((about) => about.data.type === ABOUT_TYPES.GOAL);
const roles = abouts.filter((about) => about.data.type === ABOUT_TYPES.ROLE);

// tempo value: remove when have content
const goalTmp = Array.from({ length: 4 }, () => goals[0]);
const roleTmp = Array.from({ length: 9 }, () => roles[0]);

const langImages = {
  en: enAboutUs,
  km: kmAboutUs,
};

const currentImage = langImages[lang] || enAboutUs;

const title = "About Us";
const description =
  "Learn about the Digital Security Committee's strategic goals, roles, and responsibilities in developing Cambodia's digital government policy for 2022-2035.";
---

<OrganizationLayout
  title={title}
  description={description}
  image={currentImage.src}
>
  <Main>
    <div class="flex flex-col gap-12 py-8">
      <section aria-label={"Strategic Goals and Strategies"}>
        <header>
          <TextElement
            variant="heading"
            className="text-center text-primary lg:text-3xl"
          >
            {t("about.strategies")}
          </TextElement>
          <p class="pt-8 text-center">
            {t("about.strategiesText")}
          </p>
        </header>
        <AboutList abouts={goalTmp} className="lg:grid-cols-2" />
      </section>
      <figure class="mx-auto flex flex-col items-center gap-4 text-center">
        <Image
          src={currentImage}
          alt={"Overview of Digital Government Policy Development of Cambodia 2022-2035"}
          widths={[400, 600, 800]}
          sizes="(max-width: 640px) 90vw, (max-width: 1024px) 70vw, 800px"
          format="webp"
          quality="high"
          loading="lazy"
          class="w-full max-w-[800px] rounded-lg"
        />
        <figcaption>
          Overview of Digital Government Policy Development of Cambodia
          2022-2035
        </figcaption>
      </figure>
      <section aria-label={"Role and Responsibilites "}>
        <header>
          <TextElement
            variant="subheading"
            className="text-center text-primary lg:text-3xl"
          >
            {t("about.roleResponsibilities")}
          </TextElement>
        </header>
        <AboutList abouts={roleTmp} className="sm:grid-cols-2 lg:grid-cols-3" />
      </section>
    </div>
  </Main>
</OrganizationLayout>
