---
import Main from "@/components/Main.astro";
import AboutList from "@/components/page/about/AboutList.astro";
import Mission from "@/components/page/home/Mission.astro";
import Vision from "@/components/page/home/Vison.astro";
import TextElement from "@/components/TextElement";

import { ABOUT_TYPES } from "@/content/about.type";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import OrganizationLayout from "@/layouts/OrganizationLayout.astro";
import { getCollection } from "astro:content";
import enAboutUs from "src/static/about-us/en-about-us.webp";
import kmAboutUs from "src/static/about-us/km-about-us.webp";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as SupportedLanguage;
const t = useTranslations(lang);
const allAbouts = await getCollection("abouts");
const abouts = allAbouts.filter((about) => about.data.lang === lang);
const roles = abouts.filter((about) => about.data.type === ABOUT_TYPES.ROLE);

const langImages = {
  en: enAboutUs,
  km: kmAboutUs,
};

const currentImage = langImages[lang] || enAboutUs;

const title = "Explore DSC";
const description =
  "Learn about the Digital Security Committee's strategic goals, roles, and responsibilities in developing Cambodia's digital government policy for 2022-2035.";

const committeeList = [
  "Digital Economy and Business Committee (Established 2021)",
  "Digital Government Committee (Established 2022)",
  "Digital Security Committee (Established 2024)",
];
---

<OrganizationLayout
  title={title}
  description={description}
  image={currentImage.src}
>
  <Main>
    <div class="flex flex-col gap-12 py-8">
      <section aria-label={"about dsc"}>
        <header>
          <TextElement
            variant="heading"
            className="pb-6 text-center text-primary lg:text-3xl"
          >
            {t("about.dsc")}
          </TextElement>
          <TextElement variant="body" className="pb-6">
            In 2021, to ensure the development of vibrant digital economy and
            society of Cambodia, the Royal Government of Cambodia under the
            leadership of <strong
              >Samdech Akka Moha Sena Padei Techo Hun Sen</strong
            >, has established the “National Digital Economy and Society
            Council” in accordance with Cambodia Digital Economy and Society
            Policy Framework 2021 – 2035.
          </TextElement>
          <TextElement variant="body" className="pb-6">
            According to Cambodia Digital Economy and Society Policy Framework
            2021 – 2035, the National Digital Economy and Society Council has
            three “Etat-Major” committees that are responsible for specific
            technical tasks. The committees are:
          </TextElement>
          <ul class="list-disc pb-6 pl-10">
            {
              committeeList.map((committee) => (
                <li>
                  <TextElement variant="body">{committee}</TextElement>
                </li>
              ))
            }
          </ul>
          <TextElement variant="body" className="pb-6">
            Throughout the process of digital transformation and implementation
            of Cambodia Digital Economy and Society Policy Framework 2021 –
            2035, the Royal Government of Cambodia has foreseen “Digital
            Security” as a vital asset to ensure the successful implementation
            of the framework itself and also to ensure that Cambodia’s cyber is
            safe from cyber risk. Therefore, in 2024, The Royal Government of
            Cambodia, under the leadership of <strong
              >Samdech Moha Borvor Thipadei Hun Manet</strong
            >, has established the “Digital Security Committee” which is the
            technical committee responsible for managing Cambodia’s digital
            security with the purpose of protecting the interest of users,
            resisting cyber-attack and competent to respond to all areas,
            including technical and strength, as well as the management of the
            entire national social security.
          </TextElement>
        </header>
      </section>
      <section aria-labelledby="vision">
        <Vision />
      </section>
      <section aria-labelledby="mission">
        <Mission />
      </section>
      <section aria-label={"Role and Responsibilites "}>
        <TextElement
          variant="subheading"
          className="pb-6 text-center text-primary lg:text-3xl"
        >
          {t("about.roleResponsibilities")}
        </TextElement>
        <TextElement variant="body" className="text-center">
          {t("about.roleResponsibilitiesText")}
        </TextElement>
        <AboutList abouts={roles} className="sm:grid-cols-2 lg:grid-cols-3" />
      </section>
    </div>
  </Main>
</OrganizationLayout>
