---
// BaseLayout.astro
import Footer from "@/components/Footer.astro";
import NavBar from "@/components/NavBar.astro";

import "@/styles/globals.css";

import { languages, type SupportedLanguage } from "@/i18n/ui";
import { removeLanguagePrefix } from "@/i18n/utils";

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  type?: "website" | "article" | "organization";
  publishDate?: Date;
  siteTitle?: string;
  authorName?: string;
  authorUrl?: string;
}

const {
  title,
  description = "Digital Security Committee's website",
  image = "/default-og-image.jpg",
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  type = "website",
  siteTitle = "Digital Security Committee",
  authorName = "Digital Security Committee",
} = Astro.props;

const currentLocale = Astro.currentLocale || "en";
const pathWithoutLocale = removeLanguagePrefix(
  Astro.url.pathname,
  currentLocale as SupportedLanguage,
);
---

<!doctype html>
<html lang={Astro.currentLocale || "en"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | {siteTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    {
      Object.values(languages).map((lang) => (
        <link
          rel="alternate"
          hreflang={lang}
          href={new URL(`/${lang}${pathWithoutLocale}`, Astro.site).href}
        />
      ))
    }
    <meta name="author" content={authorName} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />
    <meta property="og:site_name" content={siteTitle} />
    <meta property="og:locale" content={Astro.currentLocale || "en"} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
    <meta property="twitter:creator" content={authorName} />

    <slot name="head" />
  </head>
  <body class="min-h-screen">
    <header class="sticky top-0 z-10">
      <NavBar />
    </header>
    <slot />
    <Footer />
  </body>
</html>
