---
import Footer from "@/components/footer";
import NavBar from "@/components/NavBar.astro";

import "@/styles/globals.css";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description?: string;
  image?: string;
  canonicalURL?: string;
  type?: "website" | "article";
  publishDate?: Date;
}
const {
  title,
  description = "Default description of your site",
  image = "/default-og-image.jpg",
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
  type = "website",
  publishDate,
} = Astro.props;

const siteTitle = "Your Site Name";
---

<!doctype html>
<html lang={Astro.currentLocale || "en"}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title} | {siteTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={type} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />

    <!-- If it's an article page -->
    {
      publishDate && (
        <meta
          property="article:published_time"
          content={publishDate.toISOString()}
        />
      )
    }

    <ViewTransitions />

    <!-- JSON-LD structured data -->
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": type === "article" ? "Article" : "WebPage",
        mainEntityOfPage: {
          "@type": "WebPage",
          "@id": Astro.url,
        },
        headline: title,
        description: description,
        image: new URL(image, Astro.url),
        author: {
          "@type": "Organization",
          name: "Digital Security Committee",
        },
        publisher: {
          "@type": "Organization",
          name: siteTitle,
          logo: {
            "@type": "ImageObject",
            url: new URL("/logo.png", Astro.url),
          },
        },
        datePublished: publishDate ? publishDate.toISOString() : null,
        dateModified: new Date().toISOString(),
      })}
    />
  </head>
  <NavBar />
  <body class="min-h-screen">
    <slot />
    <Footer />
  </body>
</html>
