---
// Assuming you have a function to get the decree URL

import DecreesCard from "./DecreesCard.astro";
import type { SupportedLanguage } from "@/i18n/ui";
import type { CollectionEntry } from "astro:content";

interface Props {
  decrees: CollectionEntry<"decrees">[];
  lang: SupportedLanguage;
}

const { decrees, lang } = Astro.props;
---

<ul class="grid list-none grid-cols-1 gap-5 p-5 md:grid-cols-3">
  {
    decrees.map((decree) => (
      <li>
        <DecreesCard
          title={decree.data.title}
          body={decree.body}
          href={decree.slug}
          date={decree.data.date}
          lang={lang}
        />
      </li>
    ))
  }
</ul>
