---
import { ButtonLink } from "@/components/ButtonLink";
import TextElement from "@/components/TextElement";

import type { SupportedLanguage } from "@/i18n/ui";

interface Props {
  title: string;
  body: string;
  href: string;
  date: string;
  lang: SupportedLanguage;
}

const { title, body, href, date } = Astro.props as Props;
---

<article
  itemscope
  itemtype="https://schema.org/Article"
  class="rounded-lg border bg-card p-5 text-card-foreground shadow-sm"
>
  <div>
    <header class="flex flex-col gap-2">
      <time
        itemprop="datePublished"
        datetime={new Date(date).toISOString()}
        transition:name={`date-${href}`}
      >
        <TextElement
          variant="body"
          className="text-left text-mptc-secondary-foreground"
        >
          {new Date(date).toLocaleDateString()}
        </TextElement>
      </time>
      <TextElement
        variant="smallheading"
        itemProp="name"
        transitionName={`title-${href}`}
      >
        {title}
      </TextElement>
    </header>
    <section transition:name={`body-${href}`}>
      <TextElement
        itemProp="description"
        className="mt-2 line-clamp-4 text-card-foreground"
      >
        {body}
      </TextElement>
    </section>
  </div>
  <div class="flex justify-center pt-5">
    <ButtonLink href={href} className="w-full" itemProp="url">
      Read full decree
    </ButtonLink>
  </div>
</article>
