---
import Main from "@/components/Main.astro";
import DeputySecretaryGeneralList from "@/components/page/about/DeputySecretaryGeneralList.astro";
import Role from "@/components/page/about/Role.astro";
import BoardMemberCard from "@/components/page/structure/BoardMemberCard.astro";
import StructureImage from "@/components/page/structure/StructureImage.astro";
import StructureLeaderShipCard from "@/components/page/structure/StructureLeaderShipCard.astro";
import TextElement from "@/components/TextElement";

import { SECRETARY_TYPES } from "@/content/secretary.type";
import { languages, type SupportedLanguage } from "@/i18n/ui";
import { useTranslations } from "@/i18n/utils";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const title = "Structure";

export async function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: { lang },
  }));
}

const lang = Astro.params.lang as SupportedLanguage;
const allBoardMembers = await getCollection("board-members");
const boardMembers = allBoardMembers
  .filter((member) => member.data.lang === lang)
  .sort((a, b) => a.id.localeCompare(b.id));

const allSecretaries = (
  await getCollection(
    "secretaries",
    (secretary) => secretary.data.lang === lang,
  )
).map((secretary) => secretary.data);

const general = allSecretaries.filter(
  (secretary) => secretary.role === SECRETARY_TYPES.GENERAL,
);

const t = useTranslations(lang);
---

<BaseLayout title={title}>
  <Main>
    <header>
      <TextElement variant="heading" className="text-center text-primary">
        {t("structure.heading")}
      </TextElement>
      <TextElement variant="paragraph" className="pb-6 text-justify">
        {t("structure.intro")}
      </TextElement>
    </header>
    <section aria-label="Board Members" class="pb-8">
      <TextElement variant="subheading" className="text-primary">
        {t("structure.dscHeading")}
      </TextElement>
      <TextElement variant="paragraph" className="pb-6 text-justify">
        The Digital Security Committee (D.S.C.) of Cambodia is led by <strong
          >Samdech Moha Bovor Thipadei HUN MANET</strong
        >, Prime Minister of Cambodia as chairman. The committee is composed of
        high-ranking officials from various Ministeries and institutions as
        Vice-Chairmen and members.
      </TextElement>
      <ul
        class="grid gap-y-3 rounded-md bg-gray-200 p-3 text-sm sm:p-5 xl:text-base"
      >
        {
          boardMembers.map((member) => (
            <li>
              <BoardMemberCard
                title={member.data.title}
                name={member.data.name}
                image={member.data.image}
                organization={member.data.organization}
                role={member.data.role}
                lang={lang}
              />
            </li>
          ))
        }
      </ul>
    </section>
    <section aria-label={"structure of digital security committee"}>
      <TextElement variant="paragraph" className="pb-6 text-justify">
        {t("structure.orgIntro")}
      </TextElement>
      <figure class="mx-auto flex flex-col items-center gap-4 pb-6 text-center">
        <StructureImage />
        <figcaption>
          Organizational Structure of the Digital Security Committee
        </figcaption>
      </figure>
    </section>
    <section aria-label="Leadership">
      <TextElement variant="subheading" className="text-primary">
        {t("structure.generalSecretaryHeading")}
      </TextElement>
      <TextElement variant="paragraph" className="text-justify">
        {t("structure.generalSecretaryIntro")}
      </TextElement>
      <section aria-labelledby="role">
        <Role />
      </section>
      <TextElement
        variant="subheading"
        className="py-10 text-center text-primary"
      >
        Secretary General
      </TextElement>
      {
        general[0] && (
          <StructureLeaderShipCard
            title={general[0].title}
            name={general[0].name}
            image={general[0].image}
          />
        )
      }
      <TextElement
        variant="subheading"
        className="pt-10 text-center text-primary"
      >
        Deputy Secretary General
      </TextElement>
      <section aria-labelledby="deputy-secretary-general-list" class="mt-6">
        <DeputySecretaryGeneralList />
      </section>
    </section>
  </Main>
</BaseLayout>
